init:
  ps: |
        $ErrorActionPreference = "Stop"
        Invoke-WebRequest http://raw.github.com/krlmlr/r-appveyor/master/scripts/appveyor-tool.ps1 -OutFile "..\appveyor-tool.ps1"
        Import-Module '..\appveyor-tool.ps1'

install:
  ps: Bootstrap

cache:
  - C:\RLibrary

environment:
  global:
    R_ARCH: x64
    USE_RTOOLS: true
    WARNINGS_ARE_ERRORS: 1

  OPENMLAPIKEY:
    secure: kZ2t27KjMTnsE9n5nfVJz1Bz42uKHr1R3KLN+DeZpdWkSvKd5dnu2NaJt9uFC1Xd

  matrix:
    - R_VERSION: devel

    - R_VERSION: release

    - R_VERSION: oldrel
      RTOOLS_VERSION: 33
      CRAN: http://cran.rstudio.com

build_script:
  - travis-tool.sh install_deps
  - travis-tool.sh github_package mlr-org/farff mlr-org/mlr berndbischl/BBmisc berndbischl/ParamHelpers

test_script:
  - travis-tool.sh run_tests

on_failure:
  - travis-tool.sh dump_logs

artifacts:
  - path: '*.Rcheck\**\*.log'
    name: Logs

  - path: '*.Rcheck\**\*.out'
    name: Logs

  - path: '*.Rcheck\**\*.fail'
    name: Logs

  - path: '*.Rcheck\**\*.Rout'
    name: Logs

  - path: '\*_*.tar.gz'
    name: Bits

  - path: '\*_*.zip'
    name: Bits
