export(authenticateUser)
export(createOpenMLImplementationForMLRLearner)
export(downloadOpenMLImplementation)
export(downloadOpenMLTask)
export(getDataQualities)
export(getDataQualityNames)
export(makeImplementationParameterList)
export(makeRunParameterList)
export(runSQLQuery)
export(runTask)
export(toMLR)
export(uploadOpenMLImplementation)
export(uploadOpenMLRun)
exportClasses(OpenMLBibRef)
exportClasses(OpenMLDataSetDescription)
exportClasses(OpenMLEstimationProcedure)
exportClasses(OpenMLExpSettings)
exportClasses(OpenMLImplementation)
exportClasses(OpenMLImplementationParameter)
exportClasses(OpenMLRun)
exportClasses(OpenMLRunParameter)
exportClasses(OpenMLRunResults)
exportClasses(OpenMLTask)
exportClasses(OpenMLTaskResults)
exportClasses(OptionalOpenMLDataSetDescription)
exportClasses(OptionalOpenMLEstimationProcedure)
import(BBmisc)
import(RCurl)
import(XML)
import(digest)
import(methods)
import(rjson)
import(stringr)
