10
11
17
194
199
204
207
22
23
236
28
30
31
9
J48(1.0).xml
J48-forest(1.0).xml
classif.J48(0.4-18).xml
classif.J48(1.0).xml
classif.J48(2.0).xml
classif.J48(3.0).xml
classif.J48(4.0).xml
classif.J48(5.0).xml
classif.JRip(1.0).xml
classif.PART(1.0).xml
classif.lda(1.0).xml
classif.rpart(1.0).xml
classif.rpart(2.0).xml
expdb.WekaCorrelationBasedFeatureSelectionFlow(1.0).xml
expdb.WekaLearningCurveFlow(1.0).xml
implementations.csv
knime.algorithmB(4.0).xml
regr.randomForest(1.0).xml
rpart(1.0).xml
rpart-forest(1.0).xml
source
testestest(1.0).xml
testestest(2.0).xml
testestest(3.0).xml
twoComponents(1.0).xml
weka.ADTree(1.2).xml
weka.AODE(1.8.2.3).xml
weka.ARFFLoader(1.22).xml
weka.AdaBoostM1(1.24.2.3).xml
weka.AdditiveRegression(1.17).xml
weka.AttributeSelectedClassifier(1.16.2.4).xml
weka.AttributeSelection(1.3).xml
weka.BVDecomposeSegCVSub(1.7).xml
weka.Bagging(1.31.2.2).xml
weka.BayesNet(1.21.2.4).xml
weka.BestFirst(1.29).xml
weka.CVParameterSelection(1.27.2.3).xml
weka.CfsSubsetEval(1.28).xml
weka.ClassificationViaRegression(1.20).xml
weka.ConjunctiveRule(1.10).xml
weka.DecisionStump(1.18).xml
weka.DecisionTable(1.29.2.1).xml
weka.Decorate(1.3.2.1).xml
weka.Evaluation(1.86).xml
weka.FilteredClassifier(1.20.2.2).xml
weka.HyperPipes(1.15).xml
weka.IB1(1.13.2.1).xml
weka.IBk(1.32).xml
weka.Id3(1.14.2.1).xml
weka.J48(1.2).xml
weka.J49(1.2).xml
weka.JRip(1.14).xml
weka.KStar(1.2.2.1).xml
weka.LBR(1.4.2.2).xml
weka.LMT(1.2.2.1).xml
weka.LWL(1.12).xml
weka.LWL(1.22).xml
weka.LeastMedSq(1.9.2.1).xml
weka.LinearRegression(1.19).xml
weka.LinearRegression(1.24).xml
weka.Logistic(1.32).xml
weka.LogitBoost(1.33).xml
weka.M5P(1.1.2.1).xml
weka.M5Rules(1.3.2.1).xml
weka.MultiBoostAB(1.6.2.2).xml
weka.MultiClassClassifier(1.37.2.2).xml
weka.MultiScheme(1.18.2.1).xml
weka.MultilayerPerceptron(1.2).xml
weka.NBTree(1.3.2.1).xml
weka.NNge(1.2.2.1).xml
weka.NaiveBayes(1.16).xml
weka.NaiveBayesSimple(1.13.2.2).xml
weka.NaiveBayesUpdateable(1.4).xml
weka.OneR(1.17).xml
weka.OrdinalClassClassifier(1.0).xml
weka.PART(1.2.2.1).xml
weka.PCANNSearch(1.1).xml
weka.PLSNNSearch(1.1).xml
weka.PolyKernel(1.1.2.2).xml
weka.Prism(1.17).xml
weka.RBF(1.1.2.2).xml
weka.RBFNetwork(1.4).xml
weka.REPTree(1.19.2.2).xml
weka.RacedIncrementalLogitBoost(1.4.2.2).xml
weka.RandomCommittee(1.5.2.2).xml
weka.RandomForest(1.6).xml
weka.RandomTree(1.8.2.2).xml
weka.RegressionByDiscretization(1.30).xml
weka.RemovePercentage(1.3).xml
weka.Ridor(1.12).xml
weka.SMO(1.53.2.2).xml
weka.SMOreg(1.3.2.3).xml
weka.SimpleLogistic(1.5.2.1).xml
weka.Stacking(1.23.2.1).xml
weka.StackingC(1.8).xml
weka.ThresholdSelector(1.30.2.2).xml
weka.VFI(1.9).xml
weka.Vote(1.7).xml
weka.VotedPerceptron(1.17).xml
weka.Winnow(1.8).xml
weka.ZeroR(1.11).xml
weka.classifiers.bayes.AODE(5516).xml
weka.classifiers.bayes.AODEsr(5516).xml
weka.classifiers.bayes.BayesNet(5725).xml
weka.classifiers.bayes.BayesianLogisticRegression(7984).xml
weka.classifiers.bayes.ComplementNaiveBayes(5516).xml
weka.classifiers.bayes.DMNBtext(1.0).xml
weka.classifiers.bayes.HNB(5516).xml
weka.classifiers.bayes.NaiveBayes(5516).xml
weka.classifiers.bayes.NaiveBayesMultinomial(6303).xml
weka.classifiers.bayes.NaiveBayesMultinomialUpdateable(1.3).xml
weka.classifiers.bayes.NaiveBayesSimple(5516).xml
weka.classifiers.bayes.NaiveBayesUpdateable(1.11).xml
weka.classifiers.bayes.WAODE(5516).xml
weka.classifiers.bayes.net.BIFReader(1.15).xml
weka.classifiers.bayes.net.BayesNetGenerator(1.14).xml
weka.classifiers.bayes.net.EditableBayesNet(7836).xml
weka.classifiers.functions.GaussianProcesses(1.8).xml
weka.classifiers.functions.IsotonicRegression(5523).xml
weka.classifiers.functions.LeastMedSq(5523).xml
weka.classifiers.functions.LibLINEAR(5917).xml
weka.classifiers.functions.LibSVM(8940).xml
weka.classifiers.functions.LinearRegression(5523).xml
weka.classifiers.functions.Logistic(5523).xml
weka.classifiers.functions.MultilayerPerceptron(9445).xml
weka.classifiers.functions.PLSClassifier(1.4).xml
weka.classifiers.functions.PaceRegression(5523).xml
weka.classifiers.functions.RBFNetwork(1.10).xml
weka.classifiers.functions.SMO(6025).xml
weka.classifiers.functions.SMOreg(8126).xml
weka.classifiers.functions.SPegasos(6580).xml
weka.classifiers.functions.SimpleLinearRegression(5523).xml
weka.classifiers.functions.SimpleLogistic(5523).xml
weka.classifiers.functions.VotedPerceptron(5523).xml
weka.classifiers.functions.Winnow(5523).xml
weka.classifiers.lazy.IB1(5525).xml
weka.classifiers.lazy.IBk(6573).xml
weka.classifiers.lazy.KStar(5525).xml
weka.classifiers.lazy.LBR(5525).xml
weka.classifiers.lazy.LWL(5011).xml
weka.classifiers.meta.AdaBoostM1(1.40).xml
weka.classifiers.meta.AdditiveRegression(1.25).xml
weka.classifiers.meta.AttributeSelectedClassifier(1.26).xml
weka.classifiers.meta.Bagging(9370).xml
weka.classifiers.meta.CVParameterSelection(8180).xml
weka.classifiers.meta.ClassificationViaClustering(1.5).xml
weka.classifiers.meta.ClassificationViaRegression(1.27).xml
weka.classifiers.meta.CostSensitiveClassifier(1.29).xml
weka.classifiers.meta.Dagging(5306).xml
weka.classifiers.meta.Decorate(8037).xml
weka.classifiers.meta.END(1.8).xml
weka.classifiers.meta.FilteredClassifier(1.28).xml
weka.classifiers.meta.Grading(1.13).xml
weka.classifiers.meta.GridSearch(9160).xml
weka.classifiers.meta.LogitBoost(9371).xml
weka.classifiers.meta.MetaCost(1.24).xml
weka.classifiers.meta.MultiBoostAB(1.16).xml
weka.classifiers.meta.MultiClassClassifier(1.48).xml
weka.classifiers.meta.MultiScheme(1.25).xml
weka.classifiers.meta.OrdinalClassClassifier(1.18).xml
weka.classifiers.meta.RacedIncrementalLogitBoost(6477).xml
weka.classifiers.meta.RandomCommittee(1.13).xml
weka.classifiers.meta.RandomSubSpace(1.4).xml
weka.classifiers.meta.RegressionByDiscretization(4746).xml
weka.classifiers.meta.RotationForest(7012).xml
weka.classifiers.meta.Stacking(6996).xml
weka.classifiers.meta.StackingC(1.15).xml
weka.classifiers.meta.ThresholdSelector(1.43).xml
weka.classifiers.meta.Vote(9093).xml
weka.classifiers.meta.nestedDichotomies.ClassBalancedND(1.8).xml
weka.classifiers.meta.nestedDichotomies.DataNearBalancedND(1.8).xml
weka.classifiers.meta.nestedDichotomies.ND(1.9).xml
weka.classifiers.mi.CitationKNN(9146).xml
weka.classifiers.mi.MDD(9144).xml
weka.classifiers.mi.MIBoost(9144).xml
weka.classifiers.mi.MIDD(9144).xml
weka.classifiers.mi.MIEMDD(9144).xml
weka.classifiers.mi.MILR(9144).xml
weka.classifiers.mi.MINND(9144).xml
weka.classifiers.mi.MIOptimalBall(9144).xml
weka.classifiers.mi.MISMO(9144).xml
weka.classifiers.mi.MISVM(9144).xml
weka.classifiers.mi.MIWrapper(9144).xml
weka.classifiers.mi.SimpleMI(9144).xml
weka.classifiers.misc.HyperPipes(5528).xml
weka.classifiers.misc.SerializedClassifier(7560).xml
weka.classifiers.misc.VFI(7180).xml
weka.classifiers.rules.ConjunctiveRule(5529).xml
weka.classifiers.rules.DTNB(6269).xml
weka.classifiers.rules.DecisionTable(5981).xml
weka.classifiers.rules.JRip(8119).xml
weka.classifiers.rules.M5Rules(1.11).xml
weka.classifiers.rules.NNge(5529).xml
weka.classifiers.rules.OneR(7686).xml
weka.classifiers.rules.PART(1.10).xml
weka.classifiers.rules.Prism(5529).xml
weka.classifiers.rules.Ridor(5529).xml
weka.classifiers.rules.ZeroR(5529).xml
weka.classifiers.trees.ADTree(5535).xml
weka.classifiers.trees.BFTree(6947).xml
weka.classifiers.trees.DecisionStump(5535).xml
weka.classifiers.trees.FT(5535).xml
weka.classifiers.trees.Id3(6404).xml
weka.classifiers.trees.J48(1.9).xml
weka.classifiers.trees.J48graft(5535).xml
weka.classifiers.trees.LADTree(8127).xml
weka.classifiers.trees.LMT(5535).xml
weka.classifiers.trees.M5P(1.10).xml
weka.classifiers.trees.NBTree(1.10).xml
weka.classifiers.trees.REPTree(9389).xml
weka.classifiers.trees.RandomForest(1.13).xml
weka.classifiers.trees.RandomTree(5536).xml
weka.classifiers.trees.SimpleCart(5535).xml
weka.classifiers.trees.UserClassifier(5535).xml
weka.classifiers.trees.lmt.LogisticBase(1.9).xml
